body {
  margin: 0;
  font-family: Ariel, Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  height: 40px;
  width: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader-icon {
  width: 200px;
}

.loader h1 {
  margin-top: 10px;
}